<h1>House</h1>
<%= @house.name %><br>
<% @house.characters.each do |character| %>
  <%= link_to character.name, character_path(character) %><br>
<% end %>
<br>

<% if @house.region %>
<%= link_to "Region", region_path(@house.region) %>
<% end %><br>
<%= link_to "Back to All Houses", houses_path %>
