<h1>Welcome <%= current_username.capitalize %>!</h1><br>

<h4>My Characters:<h4>
<% @user.user_characters.each do |user_character| %>
  <%= link_to user_character.character.name, user_character_path(user_character) %><br>
<% end %>
<br>

<button><%= link_to "View All Characters", characters_path %><br></button>
<button><%= link_to "Add New Character", new_user_character_path  %></button>
