<h1>All Characters</h1>
<% @characters.each do |character| %>
<%= link_to character.name, character_path(character) %>
<%= link_to "Add to My Characters", "/user_characters/new/#{character.id}" %>
<br>
<% end %>

<%= link_to "View My Characters", user_characters_path %>
