/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Lato|MedievalSharp');

 h1 {
   font-family: 'MedievalSharp', cursive;
   padding: 100px 0px 30px;
 }

 h2 {
   font-family: 'MedievalSharp', cursive;
   padding-top: 30px;
 }

 h3, h4, h5 {
   font-family: 'Lato', sans-serif;
 }

 h6 {
   font-family: 'Lato', sans-serif;
 }

 p {
   font-family: 'Lato', sans-serif;
   color: white;
 }

 /* navigation */
 .login-nav {
   display: inline;
   float: right;
 }

.login-nav a {
  font-size: 1.8em;
  text-transform: none;
}

.login-nav a:hover {
  color: #51b8f9; /* blue */
}

.menu-links {
  padding: 20px;
  background: #000;
  width: 100%;
  display: block;
  float: none;
  z-index: 4;
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto;
}

.menu-links a {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000;
  padding-right: 30px;
}


/* links */
a:link {
  color: #ff944b; /* orange */
 }

a:visited {
  color: #ff944b; /* orange */
}

a:hover {
  color: #51b8f9; /* blue */
  text-decoration: none;
}

/* imgs */
.logo-background img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-top: 120px;
}

/* buttons */
button {
  background-color: #000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.search-button {
  background-color: #51b8f9; /* blue */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.add-button {
  padding: 0px 20px 30px;
  color: #ff944b;
}


/* body padding */
body {
  padding-bottom: 50px;
}
